.intro-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;       /* 상단 여백 */
    padding-bottom: 60px;    /* 하단 푸터 대비 여백 */
    color: white;
    min-height: 100vh;
    box-sizing: border-box;
  }

.intro-content {
  margin-top: 24px;
  text-align: center;
}

.intro-content h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.start-btn {
  margin-top: 16px;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #f06b4f;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.start-btn:hover {
  background-color: #f88c6c;
}
