.site-info-footer {
    position: fixed;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 480px;
    height: 50px;
    background: #253238;
    text-align: center;
    font-size: 13px;
    color: #ccc;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }
  
  
  .site-info-footer a {
    color: #aaa;
    text-decoration: underline;
    font-size: 13px;
    margin: 0 6px;
  }
  
  .site-info-footer a:hover {
    color: #fff;
  }
  