@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #eee;
}

.app-wrap {
  max-width: 480px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #253238;
  border: 1px solid #eee;
  position: relative;
  box-sizing: border-box;
}

.app-main {
  flex: 1;
  padding: 20px;
  padding-top: 50px; /* Header 겹침 방지 */
  box-sizing: border-box;
}
